* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.wrapper > div {
  background-color: rgb(196, 195, 195);
  padding: 1em;
}