* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  background-color: rgb(196, 195, 195);
  padding: 1em;
}

.box-1 {
  align-self: flex-start;
}

.box-2 {
  align-self: flex-end;
}

.box-3 {
  justify-self: end;
}

.box-4 {
  align-self: center;
}