* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, header {
  /* margin: 30px; */
  background-color: rgb(196, 195, 195);
}

h2, footer p {
  padding: 1rem;
  text-align: center;
}

.wrapper {
  background-color: rgb(156, 203, 235);
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'content-1 content-2 sidebar'
    'content-4 content-5 sidebar'
    'content-6 content-6 sidebar';
  grid-gap: 1em;
}

.wrapper > div {
  background-color: white;
  padding: 1em;
  margin: 1em;
}

div.content-1 {
  grid-area: content-1;
}

div.content-2 {
  grid-area: content-2;
}

div.sidebar {
  grid-area: sidebar;
}

div.content-4 {
  grid-area: content-4;
}

div.content-5 {
  grid-area: content-5;
}

div.content-6 {
  grid-area: content-6;
}

/* tablet/mobile layout */
@media screen and (max-width: 850px) {
  .wrapper {
    grid-template-areas: 
        'content-1 content-2 content-4'
        'content-5 sidebar sidebar'
        'content-6 content-6 content-6';
  }
}